{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
<div class="panel panel-default">
  <div class="panel-heading">The posted request list of User: {{user.user_name}}</div>

{% if request_list %}


    {# display all requests belong to the user#}
    {% for request in request_list %}

    <div class="panel-body">

        {# display all matched user#}
        <li>{{request.id}}:{{request.request_time|date}}</li>
        {% for match in request.matched_request.all %}
            <li>user_attend:{{match.requester.user_name}}</li>
        {% empty %}
            <li>No matched gym buddy yet.</li>
        {% endfor%}
        {# display all recommend user#}
        {% for recommend in request.recommend_request.all %}
            <li><a href="{% url 'gym_buddy_app:confirmRequest' user.id request.id recommend.id %}">recommend_user:{{recommend.requester.user_name}}</a></li>
        {% empty %}
            <li>No recommend gym buddy yet.</li>
        {% endfor%}
        <a href="/admin/gym_buddy_app/request/{{request.id}}/change/">change request</a>
      </div>
    {% endfor%}

{% else %}
<div class="panel-body">

    <p>No Request for this user,</p>
  </div>
{% endif%}
</div>
</div>
</div>
</div>
<br>


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
<div class="panel panel-default">
  <div class="panel-heading">Add a request</div>
  <div class="panel-body">

<form action="{% url 'gym_buddy_app:addRequest' user.id  %}" method="post">
    {% csrf_token %}

    <input type="datetime-local" name="time" class="form-control"/><br>
    <input type="number" name="longitude" class="form-control"/><br>
    <input type="number" name="latitude" class="form-control"/><br>
    <input type="text" name="training_part" class="form-control"/><br>
    <input type="number" name="training_weight" class="form-control"/><br>
    <input type="submit" value="add a request" class="btn btn-default">
</form>
</div>
</div>
</div>
</div>
</div>
</div>
