{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True%}
<head>
<style>
#map {
    height: 500px;
}
</style>
</head>
<body>

<ul class="navbar navbar-inverse">
    <a class="navbar-brand" href="#">Gym Buddy</a>
    <ul class="nav navbar-nav">
    <li class="nav-item active">
    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Pricing</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">About</a>
    </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class= "nav-item active">
            <a class="nav-link" href="#">Welcome, {{user.user_name}}</a>
        </li>
    </ul>
</ul>
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">Posted request</div>
                <div class="panel-body">
                {% if request_list %}
                {# display all requests belong to the user#}
                {% for request in request_list %}
                    {# display all matched user#}
                    <a href="{% url 'gym_buddy_app:requestDetail' request.id  %}">{{request.id}}:{{request.request_time|date}}</a>
                    {% for match in request.matched_request.all %}
                        <li>user_attend:{{match.requester.user_name}}</li>
                    {% empty %}
                        <li>No matched gym buddy yet.</li>
                    {% endfor%}
                    {# display all recommend user#}
                    {% for recommend in request.recommend_request.all %}
                        <li>recommend_user:{{recommend.requester.user_name}}<a href="{% url 'gym_buddy_app:confirmRequest' user.id request.id recommend.id %}">   Attend</a></li>
                    {% empty %}
                        <li>No recommend gym buddy yet.</li>
                    {% endfor%}
                {% endfor%}
                {% else %}
                    <p>No Request for this user,</p>
                {% endif%}
                </div>
            </div>
        <div class="panel panel-default">
        <div class="panel-heading">Add a request</div>
        <div class="panel-body">
        <form action="{% url 'gym_buddy_app:addRequest' user.id  %}" method="post">
            {% csrf_token %}
            <label>Time to choose</label>
            <input type="datetime-local" name="time" class="form-control"/><br>
            <label>Training part</label>
            <select name="training_part" class="form-control">
                {% for k,v in choices%}
                <option value="{{k}}">{{v}}
                {% endfor %}
            </select>
            <label>Training weight</label>
            <input type="number" name="training_weight" class="form-control"/><br>
            <input type="submit" value="add a request" class="btn btn-default">
        </form>
        </div> <!--panel default-->
        </div> <!--panel body--> 
        </div> <!--col_6-->
        {# Loaded all the request positions on the map#}
        <div id="map" class="col-sm-7">
        </div>
    </div> <!--row-->
</div> <!--container-->
<br>

<script>
function initialize() {
    var map = new google.maps.Map(document.getElementById('map'));
    var bounds = new google.maps.LatLngBounds();
    function addMarker(lat, lng, title) {
        var position = new google.maps.LatLng(lat, lng);
        var marker = new google.maps.Marker({
            position: position,
            map: map,
            title: title
        });
        bounds.extend(position);
    }
    {# add all user requests on the map #}
    console.log(1);
    {% for request in request_list %}
        addMarker({{ request.location.latitude }}, {{ request.location.longitude }}, "{{request.id}}");
    {% endfor %}
    {# modity the zoom of map to fit all position#}
    map.fitBounds(bounds);
    google.maps.event.trigger(map, 'resize');
    console.log(map);
    console.log(2);
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTLEC5bkE7JXzU2uGwvYaqfLQbefoojjo&callback=initialize"
  type="text/javascript"></script>

</body>
